<div>
  <h3>Ciao {{user.name}}!</h3>
  <div class="partial-border ion-margin-top ion-margin-bottom"></div>
</div>
<ion-item (click)="goto('/orders')" style="cursor: pointer;">
  <!-- quando si attiva da un errore: Error: The pipe 'translate' could not be found!{{'NavBar.orders' | translate}} -->
  I tuoi ordini
</ion-item>
<!-- <ion-item (click)="goto('https://about.bonapp.life/')" style="cursor: pointer;">
  Info & Contatti
</ion-item> -->
<ion-item (click)="logout('/')" style="cursor: pointer;">
  <!-- {{'NavBar.logout' | translate}} -->
  Logout
</ion-item>

