<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="auth.isAuthenticate()" class="ion-hide-md-down" fill="clear" size="large" color="secondary"
        (click)="logout('/')">
        {{'NavBar.logout' | translate}}
      </ion-button>
      <ion-button class="ion-hide-md-down" fill="clear" size="large" color="secondary" (click)="goto('https://about.bonapp.life/')">
        {{'NavBar.about' | translate}}</ion-button>
      <ion-button *ngIf="auth.isAuthenticate()" class="ion-hide-md-up" fill="clear" size="large" color="secondary"
        (click)="logout('/')">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
      <ion-button *ngIf="auth.isAuthenticate()" class="ion-hide-md-up" fill="clear" size="large" color="secondary"
      (click)="goto('https://about.bonapp.life/')">
        <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <a [href]="'/'" onclick="return false;">
        <img src="assets/logo.png" height="50px" (click)="navCtrl.navigateRoot('/')" style="cursor: pointer;" />
      </a>
    </ion-title>
    <ng-container *ngIf="auth.isAuthenticate()">
      <ion-buttons class="ion-hide-md-down" slot="end">
        <ion-button class="ion-hide-md-down" fill="clear" size="large" color="secondary" (click)="goto('/shop')">
          {{'NavBar.shop' | translate}}</ion-button>
        <ion-button *ngIf="!auth.hasRoles(['admin', 'creator'])" fill="clear" size="large" color="primary"
          (click)="goto('/orders')">
          {{'NavBar.orders' | translate}}
        </ion-button>
        <ion-button *ngIf="auth.hasRoles(['admin', 'creator'])" fill="clear" size="large" color="primary"
          (click)="presentDatasPopover($event)">
          {{'NavBar.datas' | translate}}
        </ion-button>
      </ion-buttons>
      <ion-buttons class="ion-hide-md-up" slot="end">
        <ion-button class="ion-hide-md-up" fill="clear" size="large" color="primary" (click)="goto('/shop')">
          <ion-icon name="cart"></ion-icon>
        </ion-button>
        <ion-button *ngIf="!auth.hasRoles(['admin', 'creator'])" fill="clear" size="large" color="primary"
          (click)="goto('/orders')">
          <ion-icon name="clipboard-outline"></ion-icon>
        </ion-button>
        <ion-button *ngIf="auth.hasRoles(['admin', 'creator'])" fill="clear" size="large" color="primary"
          (click)="presentDatasPopover($event)">
          <ion-icon name="grid"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ng-container>
    <ng-container *ngIf="!auth.isAuthenticate()">
      <ion-buttons class="ion-hide-md-down" slot="end">
        <ion-button fill="clear" size="large" color="tertiary" (click)="openLoginModal(true)">
          {{'NavBar.register' | translate}}
        </ion-button>
        <ion-button fill="solid" size="large" (click)="openLoginModal()">{{'NavBar.login' | translate}}</ion-button>
      </ion-buttons>
      <ion-buttons class="ion-hide-md-up" slot="end">
        <ion-button fill="clear" size="large" color="primary" (click)="openLoginModal()">
          <ion-icon name="person-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ng-container>
  </ion-toolbar>
</ion-header>