<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- left side -->
    <ion-buttons slot="start" class="ion-hide-md-up">
      <!-- mobile -->
      <ion-button style="padding-left:0.2em" fill="clear" size="large" color="secondary"
      (click)="goto('https://about.bonapp.life/')">
      <ion-icon name="help-circle-outline"></ion-icon>
      </ion-button>
      <!-- authenticated user -->
      <ng-container *ngIf="auth.isAuthenticate()">
        <!-- popover with orders & logout -->
        <ion-button style="padding-left:0.2em" fill="clear" size="large" color="primary"
        (click)="presentUsersPopover($event)">
        <ion-icon name="person-outline"></ion-icon>
        </ion-button>
        <ion-button style="padding-left:0.2em" *ngIf="auth.hasRoles(['admin'])" fill="clear" size="large" color="primary" (click)="goto('/today-orders')">
          <ion-icon name="clipboard"></ion-icon>
        </ion-button>
      </ng-container>
      <!-- not authenticated user -->
      <ng-container *ngIf="!auth.isAuthenticate()">
        <ion-button style="padding-left:0.2em"  (click)="openLoginModal(true)">
          <ion-icon name="person-add-outline"></ion-icon>
        </ion-button>
      </ng-container>
    </ion-buttons>
    
    <ion-buttons slot="start" class="ion-hide-md-down">
      <!-- desktop -->
      <ion-button style="padding-left:0.5em"  fill="clear" size="large" color="secondary"
        (click)="goto('https://about.bonapp.life/')">
        <ion-icon name="help-circle-outline"></ion-icon>
        {{'NavBar.about' | translate}}
      </ion-button>
      <!-- authenticated user -->
      <ng-container *ngIf="auth.isAuthenticate()">
        <!-- popover with orders & logout -->
        <ion-button style="padding-left:0.5em" fill="clear" size="large" color="secondary" (click)="presentUsersPopover($event)">
          <ion-icon name="person-outline"></ion-icon>
          {{'NavBar.profile' | translate}}
        </ion-button>
        <ion-button style="padding-left:0.5em" *ngIf="auth.hasRoles(['admin'])" fill="clear" size="large" color="secondary" (click)="goto('/today-orders')">
          <ion-icon name="clipboard"></ion-icon>
          <strong>Ordini del giorno</strong>
        </ion-button>
      </ng-container>
      <!-- not authenticated user -->
      <ng-container *ngIf="!auth.isAuthenticate()">
        <ion-button style="padding-left:0.5em" color="secondary" size="large" (click)="openLoginModal(true)">
        <ion-icon name="person-add-outline"></ion-icon>
        {{'NavBar.login' | translate}}
        </ion-button>
      </ng-container>
    </ion-buttons>

    <!-- center logo -->
    <ion-title>
      <a *ngIf="auth.hasRoles(['admin'])" [href]="'/'" onclick="return false;">
        <img src="assets/brand_grey.png" height="50px" (click)="navCtrl.navigateRoot('/')" style="cursor: pointer;" />
      </a>
      <a *ngIf="auth.hasRoles(['creator'])" [href]="'/'" onclick="return false;">
        <img src="assets/brand.png" height="50px" (click)="navCtrl.navigateRoot('/')" style="cursor: pointer;" />
      </a>
      <a *ngIf="!auth.hasRoles(['admin','creator'])" [href]="'/'" onclick="return false;">
        <img src="assets/logo.png" height="50px" (click)="navCtrl.navigateRoot('/')" style="cursor: pointer;" />
      </a>
    </ion-title>

    <!-- right side -->
    <!-- authenticated user -->
    <ng-container *ngIf="auth.isAuthenticate()">
      <!-- mobile -->
      <ion-buttons class="ion-hide-md-up" slot="end">
        <ion-button *ngIf="!auth.hasRoles(['admin', 'creator'])" style="padding-right:0.2em" fill="clear" size="large" color="primary" (click)="goto('/shop')">
          <ion-icon style="font-size:1.5em" [ngClass]="{'icon-selected' : router.url == '/shop'}" name="cart"></ion-icon>
          <strong>{{'NavBar.shop' | translate}}</strong>
        </ion-button>
        <ion-button *ngIf="auth.hasRoles(['admin', 'creator'])" style="padding-right:0.2em" fill="clear" size="large" color="primary" (click)="goto('/shop')">
          <ion-icon style="font-size:1.5em" [ngClass]="{'icon-selected' : router.url == '/shop'}" name="cart-outline"></ion-icon>
          <strong>{{'NavBar.shop' | translate}}</strong>
        </ion-button>
        <ion-button *ngIf="auth.hasRoles(['admin', 'creator'])" style="padding-right:0.2em" fill="clear" size="large" color="primary"
          (click)="presentDatasPopover($event)">
          <ion-icon name="grid"></ion-icon>
        </ion-button>
      </ion-buttons>
      <!-- desktop -->
      <ion-buttons class="ion-hide-md-down" slot="end">
        <ion-button *ngIf="!auth.hasRoles(['admin', 'creator'])" style="padding-right:0.5em" fill="clear" size="large" color="secondary" (click)="goto('/shop')">
          <ion-icon style="font-size:1.5em" [ngClass]="{'icon-selected' : router.url == '/shop'}" name="cart"></ion-icon>
          <strong>{{'NavBar.go_to_shop' | translate}}</strong>
        </ion-button>
        <ion-button *ngIf="auth.hasRoles(['admin', 'creator'])" style="padding-right:0.5em" fill="clear" size="large" color="secondary" (click)="goto('/shop')">
          <ion-icon style="font-size:1.5em" [ngClass]="{'icon-selected' : router.url == '/shop'}" name="cart-outline"></ion-icon>
          {{'NavBar.go_to_shop' | translate}}
        </ion-button>
        <ion-button *ngIf="auth.hasRoles(['admin', 'creator'])" style="padding-right:0.5em" fill="clear" size="large" color="secondary"
          (click)="presentDatasPopover($event)">
          <ion-icon name="grid"></ion-icon>
          <strong>{{'NavBar.datas' | translate}}</strong>
        </ion-button>
      </ion-buttons>
    </ng-container>
    <!-- not authenticated user-->
    <ng-container *ngIf="!auth.isAuthenticate()">
      <!-- mobile -->
      <ion-buttons class="ion-hide-md-up" slot="end">
        <ion-button style="padding-right:0.2em" fill="clear" size="large" strong ="true" color="secondary" (click)="goto('/shop')">
          <ion-icon style="font-size:1.5em" [ngClass]="{'icon-selected' : router.url == '/shop'}" name="cart" ></ion-icon>
          <strong>{{'NavBar.shop' | translate}}</strong>
        </ion-button>
      </ion-buttons>
      <!-- desktop -->
      <ion-buttons class="ion-hide-md-down" slot="end">
        <ion-button style="padding-right:0.5em" fill="clear" size="large" color="secondary" (click)="goto('/shop')">
          <ion-icon style="font-size:1.5em" [ngClass]="{'icon-selected' : router.url == '/shop'}" name="cart"></ion-icon>
          <strong>{{'NavBar.go_to_shop' | translate}}</strong>
        </ion-button>
      </ion-buttons>
    </ng-container>
  </ion-toolbar>
</ion-header>