<bonapp-header></bonapp-header>

<ion-content>
  <div class="container">

    <!-- back button and searchbar -->
    <div id="top" class="ion-padding">
      <ion-button size="small" fill="outline" color="secondary" (click)="navCtrl.back()">{{'Receipt.back' | translate}}
      </ion-button>
      <h2>Il supermercato di BonApp</h2>
      <!-- searchbar with continious input listner -->
      <!-- <div style="width: 100%">
        <ion-searchbar [(ngModel)]="seach_term" [debounce]="100" (ngModelChange)="searchIngredients()" placeholder="Cerca qualsiasi ingrediente.."></ion-searchbar>
      </div> -->
      <!-- searchbar without continious input listner -->
      <!-- <div style="width: 100%">
        <ion-searchbar [(ngModel)]="seach_term" (search)="searchIngredients()" placeholder="Cerca qualsiasi ingrediente.."></ion-searchbar>
      </div> -->
    </div>

    <!-- categories mobile -->
    <div class="ion-padding" id="categories-mobile">
      <!-- <ion-label class="ion-margin-bottom">{{"ReceiptBuy.categories" | translate}}</ion-label> -->
      <ion-select interface="action-sheet" placeholder="Esplora le categorie" (ionChange)="selectChange($event)">
        <ion-select-option [value]="'receipt'" *ngIf="receipt">{{receipt.name}}</ion-select-option>
        <ion-select-option [value]="category" *ngFor="let category of categories">{{category.name}}</ion-select-option>
      </ion-select>
    </div>

    <ion-grid>
      <ion-row>

        <ion-col class="categories ion-hide-md-down" size="2">
          <h2>
            <ion-text color="tertiary">{{"ReceiptBuy.categories" | translate}}</ion-text>
          </h2>
          <div class="partial-border light partial-on-left ion-margin-bottom"></div>
          <ion-button [fill]="selectedCategories.length? 'outline' : 'solid'"
            [color]="selectedCategories.length? 'tertiary' : 'primary'" *ngIf="receipt"
            style="width: 100%; text-align: left;" (click)="selectedCategories = []; seach_term = ''">
            <span class="ion-text-left wrap-text">{{receipt.name}}</span>
          </ion-button>
          <ng-container *ngFor="let category of categories">
            <ion-button [fill]="!isCategorySelected(category)? 'outline' : 'solid'"
              [color]="!isCategorySelected(category)? 'tertiary' : 'primary'" (click)="toggleCategory(category)"
              style="width: 100%; text-align: left;">
              <span class="ion-text-left wrap-text">{{category.name}}</span>
            </ion-button>
            <ng-container *ngIf="isCategorySelected(category) || isSubCategorySelected(category)">
              <ion-button [fill]="!isCategorySelected(subcategory)? 'outline' : 'solid'"
                *ngFor="let subcategory of category.subcategories"
                [color]="!isCategorySelected(subcategory)? 'tertiary' : 'primary'"
                (click)="toggleSubCategory(subcategory)" style="width: 100%; text-align: left; margin-left: 1em;">
                <span class="ion-text-left">{{getSelf(subcategory).name}}</span>
              </ion-button>
            </ng-container>
          </ng-container>
        </ion-col>

        <ion-col>
          <ng-container *ngIf="!selectedCategories.length && receipt && !seach_term">
            <div class="ion-padding-start" *ngIf="getIngredients(false).length">
              <h2>
                <ion-text color="secondary">{{"ReceiptBuy.ingredients_for" | translate:receipt}}</ion-text>
              </h2>
              <div class="partial-border light partial-on-left"></div>
            </div>

            <ion-grid id="product-list" class="neutral">
              <ion-row>
                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4" size-xl="4"
                  *ngFor="let product of getIngredients(false)">
                  <ion-card class="product">
                    <ion-card-content>
                      <div class="product-img"
                        [ngStyle]="{background: 'url('+product.icon_url+') no-repeat center center', 'background-size': 'contain'}">
                      </div>
                      <div class="product-brand" [title]="product.brand">
                        <ion-text color="tertiary">{{product.brand}}</ion-text>
                      </div>
                      <div class="product-name" [title]="product.name">{{product.name}}</div>
                      <div>
                        <small><i>{{getSelf(product).qty}}</i></small>
                      </div>
                      <div class="product-price ion-margin-top">
                        € {{(product.price? product.price.toFixed(2) : '-')}}
                      </div>
                      <div class="ion-text-center actions">
                        <ion-button fill="clear" color="primary" size="small" (click)="cart.add(product, -1)" style="float:left" *ngIf="cart.getQta(product) > 0">
                          <ion-icon name="remove"></ion-icon>
                        </ion-button>
                        <ion-button fill="clear" color="secondary" size="small" (click)="cart.add(product, -1)" *ngIf="cart.getQta(product) > 0">
                          {{cart.getQta(product)}}
                        </ion-button>
                        <ion-button color="primary" size="small" (click)="cart.add(product, 1)" style="float:right">
                          <ion-icon name="add"></ion-icon>
                        </ion-button>
                      </div>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>

            <div class="ion-padding-start" style="margin-top: 3em;" *ngIf="getIngredients(true).length">
              <h2>
                <ion-text color="secondary">{{"ReceiptBuy.condiments" | translate:receipt}}</ion-text>
              </h2>
              <div class="partial-border light partial-on-left"></div>
            </div>

            <ion-grid id="product-list" class="neutral">
              <ion-row>
                <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4" size-xl="4"
                  *ngFor="let product of getIngredients(true)">
                  <ion-card class="product">
                    <ion-card-content>
                      <div class="product-img"
                        [ngStyle]="{background: 'url('+product.icon_url+') no-repeat center center', 'background-size': 'contain'}">
                      </div>
                      <div class="product-brand" [title]="product.brand">
                        <ion-text color="tertiary">{{product.brand}}</ion-text>
                      </div>
                      <div class="product-name" [title]="product.name">
                        {{product.name}}
                      </div>
                      <div>
                        <small><i>{{product.qty}}</i></small>
                      </div>
                      <div class="product-price ion-margin-top">
                        € {{(product.price? product.price.toFixed(2) : '-')}}
                      </div>
                      <div class="ion-text-center actions">
                        <ion-button fill="clear" color="primary" size="small" (click)="cart.add(product, -1)" style="float:left" *ngIf="cart.getQta(product) > 0">
                          <ion-icon name="remove"></ion-icon>
                        </ion-button>
                        <ion-button fill="clear" color="secondary" size="small" (click)="cart.add(product, -1)" *ngIf="cart.getQta(product) > 0">
                          {{cart.getQta(product)}}
                        </ion-button>
                        <ion-button color="primary" size="small" (click)="cart.add(product, 1)" style="float:right">
                          <ion-icon name="add"></ion-icon>
                        </ion-button>
                      </div>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ng-container>

          <ng-container *ngIf="!seach_term && selectedCategories.length">
            <div [ngStyle]="{'margin-top': i>0? '3em': '0'}" *ngFor="let category of selectedCategories; let i = index">

              <div class="ion-padding-start" *ngIf="category.subcategories.length">
                <h2>
                  <ion-text color="secondary">{{"ReceiptBuy.subcategories" | translate}}</ion-text>
                </h2>
                <div class="partial-border light partial-on-left"></div>
              </div>

              <ion-grid class="neutral">
                <ion-row>
                  <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4" size-xl="4"
                    *ngFor="let subcategory of category.subcategories">
                    <ion-card button (click)="toggleSubCategory(subcategory)">
                      <ion-card-content>
                        <div class="product-img"
                          [ngStyle]="{background: 'url('+getSelf(subcategory).image_url+') no-repeat center center', 'background-size': 'contain'}">
                        </div>
                        <div class="product-name ion-text-center" [title]="getSelf(subcategory).name">
                          {{getSelf(subcategory).name}}
                        </div>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>

              <div class="ion-padding-start" *ngIf="category.ingredients?.length">
                <h2>
                  <ion-text color="secondary">{{category.name}}</ion-text>
                </h2>
                <div class="partial-border light partial-on-left"></div>
              </div>

              <ion-grid id="product-list" class="neutral">
                <ion-row>
                  <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4" size-xl="4"
                    *ngFor="let product of category.ingredients">
                    <ion-card class="product">
                      <ion-card-content>
                        <div class="product-img"
                          [ngStyle]="{background: 'url('+getSelf(product).icon_url+') no-repeat center center', 'background-size': 'contain'}">
                        </div>
                        <div class="product-brand" [title]="getSelf(product).brand">
                          <ion-text color="tertiary">{{getSelf(product).brand}}</ion-text>
                        </div>
                        <div class="product-name" [title]="getSelf(product).name">{{getSelf(product).name}}</div>
                        <div>
                          <small><i>{{getSelf(product).qty}}</i></small>
                        </div>
                        <div class="product-price ion-margin-top">
                          € {{(getSelf(product).price? getSelf(product).price.toFixed(2) : '-')}}
                        </div>
                        <div class="ion-text-center actions">
                          <ion-button fill="clear" color="primary" size="small" (click)="cart.add(product, -1)" style="float:left" *ngIf="cart.getQta(product) > 0">
                            <ion-icon name="remove"></ion-icon>
                          </ion-button>
                          <ion-button fill="clear" color="secondary" size="small" (click)="cart.add(product, -1)" *ngIf="cart.getQta(product) > 0">
                            {{cart.getQta(product)}}
                          </ion-button>
                          <ion-button color="primary" size="small" (click)="cart.add(product, 1)" style="float:right">
                            <ion-icon name="add"></ion-icon>
                          </ion-button>
                        </div>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ng-container>

          <ng-container *ngIf="(!receipt || seach_term)">
            <div>
              <div class="ion-padding-start">
                <h2>
                  <ion-text color="secondary">{{"ReceiptBuy.products" | translate}}</ion-text>
                </h2>
                <div class="partial-border light partial-on-left"></div>
              </div>

              <ion-grid id="product-list" class="neutral">
                <ion-row>
                  <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4" size-xl="4"
                    *ngFor="let product of ingredients">
                    <ion-card class="product">
                      <ion-card-content>
                        <div class="product-img"
                          [ngStyle]="{background: 'url('+getSelf(product).icon_url+') no-repeat center center', 'background-size': 'contain'}">
                        </div>
                        <div class="product-brand" [title]="getSelf(product).brand">
                          <ion-text color="tertiary">{{getSelf(product).brand}}</ion-text>
                        </div>
                        <div class="product-name" [title]="getSelf(product).name">{{getSelf(product).name}}</div>
                        <div class="product-price ion-margin-top">
                          € {{(getSelf(product).price? getSelf(product).price.toFixed(2) : '-')}}
                        </div>
                        <div class="ion-text-center actions">
                          <ion-button fill="clear" color="primary" size="small" (click)="cart.add(product, -1)" style="float:left" *ngIf="cart.getQta(product) > 0">
                            <ion-icon name="remove"></ion-icon>
                          </ion-button>
                          <ion-button fill="clear" color="secondary" size="small" (click)="cart.add(product, -1)" *ngIf="cart.getQta(product) > 0">
                            {{cart.getQta(product)}}
                          </ion-button>
                          <ion-button color="primary" size="small" (click)="cart.add(product, 1)" style="float:right">
                            <ion-icon name="add"></ion-icon>
                          </ion-button>
                        </div>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="!ingredients.length">
                  <ion-col id="no-products" size="12">
                    <h1 [innerHTML]="'ReceiptBuy.no_products' | translate"></h1>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ng-container>

        </ion-col>

        <ion-col class="ion-hide-md-down" size="3">

          <ion-card id="cart">
            <ion-card-content>
              <ion-grid class="neutral">
                <ion-row>
                  <ion-col>
                    <h2>
                      <ion-text color="tertiary">{{"ReceiptBuy.cart" | translate}}</ion-text>
                    </h2>
                    <div class="partial-border light partial-on-left"></div>
                  </ion-col>
                  <ion-col size="6" class="ion-text-right">
                    <ion-icon src="assets/cart/delivery.svg" color="secondary"
                      style="font-size: 1.5em;margin-right: 1em;"></ion-icon>
                    € 0.99
                  </ion-col>
                </ion-row>
              </ion-grid>

              <div class="items-list">
                <ion-grid class="neutral cart-item" *ngFor="let item of cart.items">
                  <ion-row>
                    <ion-col class="item-name" size="9">{{item.ingredient?.name}}</ion-col>
                    <ion-col size="3" class="ion-text-right">€ {{item.ingredient?.price.toFixed(2)}}</ion-col>
                  </ion-row>
                  <ion-row class="qta-wrapper">
                    <ion-col class="less" size="3" (click)="cart.add(item.ingredient, -1)">
                      <!-- <ion-button fill="clear" color="secondary"> -->
                      <ion-icon name="remove" color="secondary"></ion-icon>
                      <!-- </ion-button> -->
                    </ion-col>
                    <ion-col size="6" class="qta">
                      <div>
                        x{{item.qta}}
                      </div>
                    </ion-col>
                    <ion-col class="add" size="3" class="ion-text-right" (click)="cart.add(item.ingredient, 1)">
                      <!-- <ion-button fill="clear" color="secondary"> -->
                      <ion-icon name="add" color="secondary"></ion-icon>
                      <!-- </ion-button> -->
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>

              <div id="goto-checkout">
                <ion-grid class="neutral">
                  <ion-row>
                    <ion-col size="9">
                      <strong>{{"ReceiptBuy.cart_total" | translate}}</strong>
                    </ion-col>
                    <ion-col size="3" class="ion-text-right">
                      € {{cart.total.toFixed(2)}}
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-button expand="full" size="large" [disabled]="cart.items.length == 0"
                  [routerLink]="'/suggested-products'">
                  {{"ReceiptBuy.goto_checkout" | translate}}</ion-button>
              </div>

            </ion-card-content>
          </ion-card>

        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<footer-cart class="ion-hide-md-up" [options]="{ confirm_button_text: 'ReceiptBuy.goto_checkout' }"
  (confirm)="goto('/suggested-products')">
</footer-cart>