<bonapp-header></bonapp-header>

<ion-content>
  <div class="container">
    <!-- back button and searchbar -->
    <div id="top" class="ion-padding">
      <ion-button class="custom-back-button" size="small" fill="outline" (click)="customBack()">{{'Receipt.back' | translate}}</ion-button>
      <h2>Il supermercato di BonApp</h2>
      <ion-icon size="large" name="cart-outline"></ion-icon>
      <!-- searchbar with continious input listner -->
      <!-- <div style="width: 100%">
        <ion-searchbar [(ngModel)]="seach_term" [debounce]="100" (ngModelChange)="searchIngredients()" placeholder="Cerca qualsiasi ingrediente.."></ion-searchbar>
      </div> -->
      <!-- searchbar without continious input listner -->
      <!-- <div style="width: 100%">
        <ion-searchbar [(ngModel)]="seach_term" (search)="searchIngredients()" placeholder="Cerca qualsiasi ingrediente.."></ion-searchbar>
      </div> -->
    </div>

    <!-- categories mobile (from recipe)-->
    <div *ngIf="receipt" class="ion-padding ion-hide-lg-up" id="categories-mobile">
      <!-- <ion-label class="ion-margin-bottom">{{"ReceiptBuy.categories" | translate}}</ion-label> -->
      <ion-select interface="action-sheet" placeholder="Esplora le categorie" (ionChange)="selectChange($event)">
        <ion-select-option [value]="'receipt'">{{receipt.name}}</ion-select-option>
        <ion-select-option [value]="category" *ngFor="let category of categories">{{category.name}}</ion-select-option>
      </ion-select>
    </div>

    <!-- categories mobile (shop general)-->
    <div *ngIf="!receipt && !seach_term && !selectedCategories.length" class="ion-padding ion-hide-lg-up">
      <ion-grid class="neutral">
        <ion-row>
          <ion-col size-xs="6" size-sm="6" size-md="4" size-lg="4" size-xl="4"
            *ngFor="let category of categories">
            <ion-card style="margin:4px; height:150px" button (click)="toggleCategory(category)">
              <ion-card-content style="padding:7px;">
                <div class="product-img"
                  [ngStyle]="{background: 'url('+getSelf(category).image_url+') no-repeat center center', 'background-size': 'contain'}">
                </div>
                <div *ngIf="19 > getSelf(category).name.length" style="margin-top:1em"></div>
                <div style="font-weight: 600; line-height: normal;" class="product-name ion-text-center" [title]="getSelf(category).name">
                  {{getSelf(category).name}}
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-grid>
      <ion-row>
        <!-- categories desktop -->
        <ion-col class="categories ion-hide-lg-down" size="2">
          <h2><ion-text color="tertiary">{{"ReceiptBuy.categories" | translate}}</ion-text></h2>
          <div class="partial-border light partial-on-left ion-margin-bottom"></div>
          <ion-button [fill]="selectedCategories.length? 'outline' : 'solid'"
            [color]="selectedCategories.length? 'tertiary' : 'primary'" *ngIf="receipt"
            style="width: 100%; text-align: left;" (click)="selectedCategories = []; seach_term = ''">
            <span class="ion-text-left wrap-text">{{receipt.name}}</span>
          </ion-button>
          <ng-container *ngFor="let category of categories">
            <ion-button [fill]="!isCategorySelected(category)? 'outline' : 'solid'"
              [color]="!isCategorySelected(category)? 'tertiary' : 'primary'" (click)="toggleCategory(category)"
              style="width: 100%; text-align: left;">
              <span class="ion-text-left wrap-text">{{category.name}}</span>
            </ion-button>
            <ng-container *ngIf="isCategorySelected(category) || isSubCategorySelected(category)">
              <ion-button [fill]="!isCategorySelected(subcategory)? 'outline' : 'solid'"
                *ngFor="let subcategory of category.subcategories"
                [color]="!isCategorySelected(subcategory)? 'tertiary' : 'primary'"
                (click)="toggleSubCategory(subcategory)" style="width: 100%; text-align: left; margin-left: 1em;">
                <span class="ion-text-left">{{getSelf(subcategory).name}}</span>
              </ion-button>
            </ng-container>
          </ng-container>
        </ion-col>

        <!-- products -->
        <ion-col>
          <!-- products container for RECIPE (if user comes from a recipe) -->
          <ng-container *ngIf="!selectedCategories.length && receipt && !seach_term">
            <div class="ion-padding-start" *ngIf="getIngredients(false).length">
              <h2><ion-text color="secondary">{{"ReceiptBuy.ingredients_for" | translate:receipt}}</ion-text></h2>
              <div class="partial-border light partial-on-left" style="margin-bottom: 1em;"></div>
            </div>
            <ion-grid class="neutral">
              <ion-row>
                <ion-col size-xs="6" size-sm="4" size-md="3" size-lg="3" size-xl="3" 
                *ngFor="let product of getIngredients(false)">
                  <product-card [product]="product"></product-card>
                </ion-col>
              </ion-row>
            </ion-grid>
            <!-- Condiments for recipe-->
            <div class="ion-padding-start" style="margin-top: 1.2em;" *ngIf="getIngredients(true).length">
              <h2><ion-text color="secondary">{{"ReceiptBuy.condiments" | translate:receipt}}</ion-text></h2>
              <div class="partial-border light partial-on-left" style="margin-bottom: 1em;"></div>
            </div>
            <ion-grid class="neutral">
              <ion-row>
                <ion-col size-xs="6" size-sm="4" size-md="3" size-lg="3" size-xl="3" 
                *ngFor="let product of getIngredients(true)">
                  <product-card [product]="product"></product-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ng-container>

          <!-- products container for CATEGORY (if category is selected)-->
          <ng-container *ngIf="!seach_term && selectedCategories.length">
            <div [ngStyle]="{'margin-top': i>0? '3em': '0'}" *ngFor="let category of selectedCategories; let i = index">
              <!-- subcategory title-->
              <div class="ion-padding-start" *ngIf="category.subcategories.length" >
                <h2>
                  <ion-text color="secondary">{{category.name}}</ion-text>
                </h2>
                <div class="partial-border light partial-on-left"></div>
              </div>
             
              <!-- subcategories boxes -->
              <!-- <div style="padding:8px">
                <ion-grid class="neutral">
                  <ion-row>
                    <ion-col size-xs="4" size-sm="6" size-md="4" size-lg="4" size-xl="4"
                      *ngFor="let subcategory of category.subcategories">
                      <ion-card style="margin:4px;" button (click)="toggleSubCategory(subcategory)">
                        <ion-card-content style="padding:7px;">
                          <div class="product-img"
                            [ngStyle]="{background: 'url('+getSelf(subcategory).image_url+') no-repeat center center', 'background-size': 'contain'}">
                          </div>
                          <div class="product-name ion-text-center" style="font-weight: 600;" [title]="getSelf(subcategory).name">
                            {{getSelf(subcategory).name}}
                          </div>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div> -->
              <!-- <div style=" padding:8px;">
                <ion-card *ngFor="let subcategory of category.subcategories" style="margin:4px; max-width: fit-content;" button (click)="toggleSubCategory(subcategory)">
                  <ion-card-content style="padding:7px; max-width:fit-content">
                    <div class="product-name ion-text-center" style="font-weight: 600; max-width:fit-content" [title]="getSelf(subcategory).name">
                      {{getSelf(subcategory).name}}
                    </div>
                  </ion-card-content>
                </ion-card>
              </div>  -->
              <div style="padding:8px;">
                <ion-chip *ngFor="let subcategory of category.subcategories" style="margin:4px; background-image: linear-gradient(45deg, #F6D0C5, #FFF4F1); border-radius: 8px;" button (click)="toggleSubCategory(subcategory)">
                    <ion-label style="font-weight: 600" [title]="getSelf(subcategory).name">
                      {{getSelf(subcategory).name}}
                    </ion-label>
                </ion-chip>
              </div> 

              <!-- category title -->
              <div *ngIf="category.ingredients?.length">
                <div class="ion-padding-start">
                  <h2>
                    <ion-text color="secondary">{{category.name}}</ion-text>
                  </h2>
                  <div class="partial-border light partial-on-left" style="margin-bottom: 1em;"></div>
                </div>
                <!-- category products -->
                <ion-grid class="neutral">
                  <ion-row>
                    <ion-col size-xs="6" size-sm="4" size-md="3" size-lg="3" size-xl="3" 
                      *ngFor="let product of category.ingredients">
                      <product-card [product]="product"></product-card>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreIngredients($event, category)">
                  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more products...">
                  </ion-infinite-scroll-content>
                </ion-infinite-scroll>
              </div>

              <!-- subcategory title -->
              <div *ngIf="selectedSubCategory">
                <div class="ion-padding-start">
                  <h2>
                    <ion-text color="secondary">{{selectedSubCategory.name}}</ion-text>
                  </h2>
                  <div class="partial-border light partial-on-left" style="margin-bottom: 1em;"></div>
                </div>
                <!-- subcategory products -->
                <ion-grid class="neutral">
                  <ion-row>
                    <ion-col size-xs="6" size-sm="4" size-md="3" size-lg="3" size-xl="3" 
                      *ngFor="let product of selectedSubCategory.ingredients">
                      <product-card [product]="product"></product-card>
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreIngredients($event, selectedSubCategory)">
                  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more products...">
                  </ion-infinite-scroll-content>
                </ion-infinite-scroll>
              </div>
              
            </div>
          </ng-container>

          <!-- products container for SEARCH -->
          <ng-container *ngIf="(!receipt && seach_term)">
            <div>
              <!-- search title -->
              <div class="ion-padding-start">
                <h2>
                  <ion-text color="secondary">{{"ReceiptBuy.products" | translate}}</ion-text>
                </h2>
                <div class="partial-border light partial-on-left"></div>
              </div>
              <!-- seach products results -->
              <ion-grid class="neutral">
                <ion-row>
                  <ion-col size-xs="6" size-sm="4" size-md="3" size-lg="3" size-xl="3" 
                    *ngFor="let product of ingredients">
                    <product-card [product]="product"></product-card>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="!ingredients.length">
                  <ion-col id="no-products" size="12">
                    <h1 [innerHTML]="'ReceiptBuy.no_products' | translate"></h1>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ng-container>
        </ion-col>

        <!-- cart desktop -->
        <ion-col class="ion-hide-lg-down" size="3">
          <ion-card id="cart">
            <ion-card-content>
              <!-- cart top part: title, scooter & cost -->
              <ion-grid class="neutral">
                <ion-row>
                  <ion-col>
                    <h2>
                      <ion-text color="tertiary">{{"ReceiptBuy.cart" | translate}}</ion-text>
                    </h2>
                    <div class="partial-border light partial-on-left"></div>
                  </ion-col>
                  <ion-col size="6" class="ion-text-right">
                    <ion-icon src="assets/cart/delivery.svg" color="primary"
                      style="font-size: 1.5em; margin-right: 0.4em;"></ion-icon>
                    € 0.99
                  </ion-col>
                </ion-row>
              </ion-grid>
              <!-- cart middle part: products list -->
              <div class="items-list">
                <ion-grid class="neutral cart-item" *ngFor="let item of cart.items">
                  <ion-row>
                    <ion-col class="item-name" size="9">{{item.ingredient?.name}}</ion-col>
                    <ion-col size="3" class="ion-text-right">€ {{item.ingredient?.price.toFixed(2)}}</ion-col>
                  </ion-row>
                  <ion-row class="qta-wrapper">
                    <ion-col class="less" size="3" (click)="cart.add(item.ingredient, -1)">
                      <!-- <ion-button fill="clear" color="secondary"> -->
                      <ion-icon name="remove" color="secondary"></ion-icon>
                      <!-- </ion-button> -->
                    </ion-col>
                    <ion-col size="6" class="qta">
                      <div>
                        x{{item.qta}}
                      </div>
                    </ion-col>
                    <ion-col class="add" size="3" class="ion-text-right" (click)="cart.add(item.ingredient, 1)">
                      <!-- <ion-button fill="clear" color="secondary"> -->
                      <ion-icon name="add" color="secondary"></ion-icon>
                      <!-- </ion-button> -->
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <!-- cart bottom part: sum & checkout button -->
              <div id="goto-checkout">
                <ion-grid class="neutral">
                  <ion-row>
                    <ion-col size="9">
                      <strong>{{"ReceiptBuy.cart_total" | translate}}</strong>
                    </ion-col>
                    <ion-col size="3" class="ion-text-right">
                      € {{cart.total.toFixed(2)}}
                    </ion-col>
                  </ion-row>
                </ion-grid>
                <ion-button expand="full" size="large" [disabled]="cart.items.length == 0"
                  [routerLink]="'/suggested-products'">
                  {{"ReceiptBuy.goto_checkout" | translate}}</ion-button>
              </div>

            </ion-card-content>
          </ion-card>

        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<footer-cart class="ion-hide-lg-up" [options]="{ confirm_button_text: 'ReceiptBuy.goto_checkout' }"
  (confirm)="goto('/suggested-products')">
</footer-cart>