<ion-content>

  <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navbar w-nav">
    <div class="container contain w-container">
      <nav role="navigation" class="w-nav-menu">
        <a href="#whats-bonapp" class="nav-link w-nav-link">Cos&#x27;`è BonApp</a>
        <a href="#valori" class="nav-link w-nav-link">I nostri valori</a>
        <a href="#contatti" class="nav-link w-nav-link">Contatti</a>
        <a href="https://www.bonapp.life/" target="_blank" class="button cta w-button">WebApp</a>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
      <a href="#" class="w-nav-brand"><img src="assets/about/images/Logo---Bonapp-Horizontal-Grey-copia.png"
          loading="lazy" width="195" sizes="195px"
          srcset="assets/about/images/Logo---Bonapp-Horizontal-Grey-copia-p-500.png 500w, assets/about/images/Logo---Bonapp-Horizontal-Grey-copia.png 515w"
          alt=""></a>
    </div>
  </div>
  <div class="section hero">
    <div class="contain">
      <div id="w-node-_981e341e-c028-c276-9cd8-66010bfe2b99-6717490f" class="div-block-6">
        <h1 data-w-id="981e341e-c028-c276-9cd8-66010bfe2b9a" style="opacity:0" class="heading"><strong
            class="bold-text-2">Il tuo nuovo modo<br> di fare la spesa</strong></h1>
        <p data-w-id="981e341e-c028-c276-9cd8-66010bfe2b9c" style="opacity:0" class="paragraph">BonApp, la tua App di
          ricette e consegna di ingredienti</p>
        <a data-w-id="0c13faff-555f-73ce-5b0b-86afd9869a23" style="opacity:0" href="https://www.bonapp.life/"
          target="_blank" class="button w-button">Vai alla WebApp</a>
      </div>
      <div data-w-id="981e341e-c028-c276-9cd8-66010bfe2b9e" style="opacity:0" class="image"></div>
    </div>
  </div>
  <div class="section-3">
    <div class="section-3-wrapper">
      <div class="sec3-header">
        <h2 id="whats-bonapp" class="headtp">Cos’è BonApp?</h2>
      </div>
      <div class="sec3-content">
        <div data-w-id="26c555c6-cab2-53ab-23bc-b5a3c5eefced" style="opacity:0" class="whybonapp-content">
          <div class="whybonapp-image _1"></div>
          <div class="whybonapp-text">
            <h1 class="wbhead"><strong class="bold-text">Deliziose ricette su misura per te</strong></h1>
            <h1 class="wbsub">Filtra le ricette in base alla tua dieta e lasciati ispirare dalle nostre proposte.<br>
            </h1>
          </div>
        </div>
        <div data-w-id="645fdf4c-3a8a-07f1-7ca9-9de4153fdfd6" style="opacity:0" class="whybonapp-content">
          <div class="whybonapp-image _2"></div>
          <div class="whybonapp-text">
            <h1 class="wbhead"><strong class="bold-text-3">Guida passo passo per ogni ricetta</strong></h1>
            <h1 class="wbsub">Un compagno di cucina ideale per le prime esperienze, serate tra amici o inviti speciali..
            </h1>
          </div>
        </div>
        <div data-w-id="049383ad-a38c-41c0-3ad5-57163f5e4c77" style="opacity:0" class="whybonapp-content">
          <div class="whybonapp-image _3"></div>
          <div class="whybonapp-text">
            <h1 class="wbhead"><strong>Consegna di ingredienti entro 25 minuti</strong></h1>
            <h1 class="wbsub"><strong>Tutti gli ingredienti che desideri consegnati a casa tua in meno di 25
                minuti.</strong></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-w-id="4ac6246d-a2f0-7b95-7339-9a710ac5d523" style="opacity:0" class="section-2 feature-3">
    <div class="how-do-we-work">
      <h2 class="headtp">Come funziona BonApp?</h2>
    </div>
    <div class="container-feature">
      <div class="feature-brief">
        <h1 class="heading-2"><strong>Scegli i tuoi ingredienti (coming soon!)</strong></h1>
        <p class="paragraph-2">Clicca sugli ingredienti che vuoi cucinare stasera <br>ed scopri la nostra proposta di
          ricette personalizzata.</p>
        <a data-w-id="36760c18-c878-64a1-2ac2-58b14613bcf0" href="#" class="button personalize w-button">Personalize</a>
      </div>
      <div class="feature-image pos _1"></div>
    </div>
    <div class="container-feature _2">
      <div class="feature-brief">
        <h1 class="heading-2"><strong>Esplora le nostre ricette</strong></h1>
        <p class="paragraph-2">Adattale alla tua dieta, al tuo umore o alle tue preferenze e <br>clicca sulla ricetta
          che più ti ispira per la tua cena.</p>
        <a data-w-id="9ef988e1-e31b-992b-e98c-f2bc6b2cc569" href="#" class="button personalize w-button">Browse
          Recipes</a>
      </div>
      <div class="feature-image pos _2"></div>
    </div>
    <div class="container-feature">
      <div class="feature-brief">
        <h1 class="heading-2"><strong>Ordina gli ingredienti mancati</strong></h1>
        <p class="paragraph-2">Ricevi gli ingredienti che ti mancano e qualsiasi altro ingrediente dal tuo supermercato
          di fiducia in meno di 25 minuti!</p>
        <a data-w-id="ef11e28a-2aa3-1bb8-8223-c760544a9228" href="#"
          class="button personalize w-button">Explore Shop</a>
      </div>
      <div class="feature-image pos _3"></div>
    </div>
  </div>
  <div class="testimonials">
    <div class="div-block-7">
      <h2 class="headtp">Su misura per te</h2>
    </div>
    <div class="testi-grid">
      <div class="testiblock">
        <div class="testitext">
          <p class="paragraph-3">&quot;Apro spesso il frigo chiedendomi cosa posso cucinare che sia sano, facile e
            veloce.”<br>‍<br> </p>
        </div>
        <div class="testiuser">
          <h1 class="heading-3">Nina, 23 anni</h1>
        </div>
      </div>
      <div class="testiblock">
        <div class="testitext">
          <p class="paragraph-3">“Mi capita sempre di avere qualche ingrediente in fondo al frigo e di non sapere come
            cucinarli..”</p>
          <div class="testiuser">
            <h1 class="heading-3"> Patrizio, 32 anni</h1>
          </div>
        </div>
      </div>
      <div class="testiblock">
        <div class="testitext">
          <p class="paragraph-3">“Mi piace cucinare ma non mi piace il resto: prevedere la spesa, gli ingredienti
            giusti, ect”<br>‍</p>
          <div class="testiuser">
            <h1 class="heading-3">Paola, 25 anni</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vision">
    <div class="visoncontent">
      <div class="visionimage"></div>
      <div class="visiontextbox">
        <h1 id="valori" class="headtp left">In cosa crediamo?</h1>
        <h1 class="heading-2 vison"><strong class="bold-text-4">La sana cucina casalinga</strong></h1>
        <p class="paragraph-2">Crediamo nei valori e nei benefici della cucina di casa. È salutare, conveniente e sempre
          su misura per te.</p>
        <h1 class="heading-2 vison"><strong class="bold-text-5">Uno stile di vita semplice e di qualità</strong></h1>
        <p class="paragraph-2">Dimentica il frigo vuoto e gli inconvenienti di andare a fare la spesa. BonApp ti
          semplifica la vita e ti offre lo stile di vita che desideri.</p>
        <h1 class="heading-2 vison"><strong class="bold-text-6">Trasparenza, fiducia e sostenibilità</strong><br></h1>
        <p class="paragraph-2">BonApp si basa su un modello sostenibile e trasparente che garantisce un&#x27;equa
          compensazione dei riders e altri stakeholders.</p>
      </div>
    </div>
  </div>
  <div class="finalcta">
    <div id="contatti" class="finalctawrapper">
      <h1 class="heading-2 fcta"><strong class="bold-text-7">Aiutaci a costruire BonApp!</strong></h1>
      <p class="paragraph-2">Per lasciare un feedback, far parte della squadra o per qualsiasi info:</p>
      <div class="div-block-8">
        <a href="mailto:giovanni@bonapp.life?subject=Hola" class="button fcta w-button">E-mail</a>
        <a href="https://wa.link/st2ag6" target="_blank" class="button personalize email w-button">WhatsApp</a>
      </div>
    </div>
  </div>
  <div data-w-id="fa9d5ce9-17e8-d718-80fc-288a93dc7559" style="opacity:0" class="footer">
    <div class="footerflex">
      <div><img src="assets/about/images/Logo---Bonapp-Stacked-Grey.png" loading="lazy" width="157" alt=""></div>
      <div class="join-us">
        <h1 class="heading-2 foot">Join Us</h1>
      </div>
      <div class="legal">
        <h1 class="heading-2 foot">Legal</h1>
        <div>
          <a href="https://docs.google.com/document/d/1SbSith8khCLIzZ_mY1DAjEYLRjrxnuZnjUQyn1cZwV0/edit?usp=sharing"
            target="_blank" class="nav-text footlink w-button">FAQ</a>
          <a href="https://docs.google.com/document/d/18jw4t65i36dgtCnwhkOEUy9KIgo4GYUjoJ8U-QZwADk/edit?usp=sharing"
            target="_blank" class="nav-text footlink w-button">Terms and conditons</a>
          <a href="https://docs.google.com/document/d/1gxC7a0ACX9mME2PccYF8bI20dUj4E-7gms6H7m5s7No/edit?usp=sharing"
            target="_blank" class="nav-text footlink w-button">Privacy policy</a>
          <a href="https://docs.google.com/document/d/1t8Sazjbr7ibBnk3UCndtoSi9jU_e36xLqkVjqjF7pjA/edit?usp=sharing"
            target="_blank" class="nav-text footlink w-button">Cookie policy</a>
        </div>
      </div>
      <div></div>
      <div></div>
      <div class="help">
        <h1 class="heading-2 foot">Help</h1>
      </div>
      <div class="findus">
        <h1 class="heading-2 foot">Seguici</h1>
        <div class="socials">
          <a id="w-node-f5fbfe9d-12f7-7918-0ecf-c2ef2f7612d0-6717490f" href="https://www.instagram.com/bonapp.life/"
            target="_blank" class="link-block-3 insta w-inline-block"></a>
        </div>
        <h1 class="heading-2 foot lang">Language</h1>
        <div class="div-block-9">
          <a href="en.html" class="button-3 w-button">EN</a>
          <a href="index.html" aria-current="page" class="button-3 w-button w--current">IT</a>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p class="paragraph-4">© Copyright 2021</p>
    </div>
  </div>

</ion-content>