#info-cards {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 3em;

    ion-card {
        height: 100%;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

.cart-item {
    margin-top: 1em;
    border-bottom: 1px solid var(--ion-color-tertiary);
}

#cart-items {

    ion-col {
        padding: 0.5em;
    }
}

#cart-summary {
    margin-top: 2em;

    ion-row {
        font-size: 1.1em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}

#customer-details {
    >div {
        padding: 0.5em;
    }
}

@media only screen and (max-width: 768px) {
    #info-cards {
        ion-col {
            padding-bottom: 2em;
        }

        ion-card {
            margin-left: 0;
            margin-right: 0;
        }
    }
}