<div style="margin: 6em 0" class="ion-hide-md-down"></div>
<div style="margin: 3em 0" class="ion-hide-md-up"></div>

<div class="container">
  <div id="title">
    <div class="ion-text-center">
      <h1 class="ion-text-center">
        404 ,User not found!
        <span> View some of our partner creators</span>
      </h1>

      <h2 class="ion-text-center"></h2>

      <div>
        <ion-chip class="creator_chip" button (click)="goto('/cuci.fi')">
          <ion-avatar>
            <img src="assets/creators/cucifi_low.jpeg" />
          </ion-avatar>
          <ion-label>@cuci.fi</ion-label>
        </ion-chip>
        <ion-chip
          class="creator_chip"
          button
          (click)="goto('/lucasfoodandkitchen')"
        >
          <ion-avatar>
            <img src="assets/creators/lucas_low.jpeg" />
          </ion-avatar>
          <ion-label>@lucasfoodandkitchen</ion-label>
        </ion-chip>
        <ion-chip class="creator_chip" button (click)="goto('/gustamenno')">
          <ion-avatar>
            <img src="assets/creators/gustamenno_low.jpeg" />
          </ion-avatar>
          <ion-label>@gustamenno</ion-label>
        </ion-chip>
      </div>
    </div>
  </div>
</div>
