<div style="margin: 6em 0" class="ion-hide-md-down"></div>
<div style="margin: 3em 0" class="ion-hide-md-up"></div>

<div id="title">
  <div class="ion-text-center">
    <h1 class="ion-text-center">
      Un modo semplice ed intuitivo per
      <span> condividere e scoprire ricette </span>
    </h1>

    <h2 class="ion-text-center">{{ 'Home.h2' | translate }}</h2>

    <div>
      <ion-chip class="creator_chip" button (click)="goto('/cuci.fi')">
        <ion-avatar>
          <img src="assets/creators/cucifi_low.jpeg" />
        </ion-avatar>
        <ion-label>@cuci.fi</ion-label>
      </ion-chip>
      <ion-chip
        class="creator_chip"
        button
        (click)="goto('/lucasfoodandkitchen')"
      >
        <ion-avatar>
          <img src="assets/creators/lucas_low.jpeg" />
        </ion-avatar>
        <ion-label>@lucasfoodandkitchen</ion-label>
      </ion-chip>
      <ion-chip class="creator_chip" button (click)="goto('/gustamenno')">
        <ion-avatar>
          <img src="assets/creators/gustamenno_low.jpeg" />
        </ion-avatar>
        <ion-label>@gustamenno</ion-label>
      </ion-chip>
    </div>
  </div>
</div>
