<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" size="large" color="secondary">{{'NavBar.about' | translate}}</ion-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/logo.png" height="60px" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" size="large" color="tertiary">{{'NavBar.register' | translate}}</ion-button>
      <ion-button fill="solid" size="large">{{'NavBar.login' | translate}}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<bonapp-header></bonapp-header>

<ion-content>
  <div class="container">
    <div id="title">
      <h1>{{'Home.h1' | translate}}</h1>
      <div class="partial-border ion-margin-top ion-margin-bottom"></div>
    </div>
    
    <div id="filters">
      <h2 class="ion-text-center filtertext">{{'Home.h2' | translate}}</h2>

      <div class="flex-center">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size-xs="6" size-sm="3" size-md="3" size-lg="3" size-xl="3" class="pad-5">
              <ion-card [ngClass]="{'active': _filter.tags.indexOf('healthy') > -1}" (click)="onChangeFilter('healthy')">
                <ion-card-content class="flex-center">
                  <div>
                    <div class="ion-text-center">
                      <ion-icon src="assets/filters/healthy.svg"></ion-icon>
                    </div>
                    <div class="ion-text-center ssprofont boldtext">
                      Healthy
                    </div>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size-xs="6" size-sm="3" size-md="3" size-lg="3" size-xl="3" class="pad-5">
              <ion-card [ngClass]="{'active': _filter.tags.indexOf('quick-n-easy') > -1}" (click)="onChangeFilter('quick-n-easy')">
                <ion-card-content class="flex-center">
                  <div>
                    <div class="ion-text-center">
                      <ion-icon src="assets/filters/qne.svg"></ion-icon>
                    </div>
                    <div class="ion-text-center ssprofont boldtext">
                      Quick n Easy
                    </div>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" size-xl="6" class="pad-5">
              <ion-card>
                <ion-card-content>
                  <ion-item lines="none">
                    <ion-label>Vegetariano</ion-label>
                    <ion-toggle value="vegetarian" (click)="onChangeFilter('vegetarian')"></ion-toggle>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>Gluten-free</ion-label>
                    <ion-toggle value="gluten-free" (click)="onChangeFilter('gluten-free')"></ion-toggle>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="flex-center">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size-xs="6" size-sm="3" size-md="3" size-lg="3" size-xl="3" class="pad-5">
              <ion-card [ngClass]="{'active': _filter.tags.indexOf('first') > -1}" (click)="onChangeFilter('first')">
                <ion-card-content class="flex-center">
                  <div>
                    <div class="ion-text-center">
                      <ion-icon src="assets/filters/traditional.svg"></ion-icon>
                    </div>
                    <div class="ion-text-center ssprofont boldtext">
                      Primi
                    </div>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size-xs="6" size-sm="3" size-md="3" size-lg="3" size-xl="3" class="pad-5">
              <ion-card [ngClass]="{'active': _filter.tags.indexOf('second') > -1}" (click)="onChangeFilter('second')">
                <ion-card-content class="flex-center">
                  <div>
                    <div class="ion-text-center">
                      <ion-icon src="assets/filters/second.svg"></ion-icon>
                    </div>
                    <div class="ion-text-center ssprofont boldtext">
                      Secondi
                    </div>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" size-xl="6" class="pad-5">
              <ion-card>
                <ion-card-content>
                  <ion-item lines="none">
                    <ion-label>Senza forno</ion-label>
                    <ion-toggle value="no-oven"  (click)="onChangeFilter('no-oven')"></ion-toggle>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>Senza mixer</ion-label>
                    <ion-toggle value="no-mixer" (click)="onChangeFilter('no-mixer')"></ion-toggle>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <!-- 
    <div id="filters">
      <ion-grid class="neutral">
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
            <ion-grid>
              <ion-row>
                <ion-col class="ion-padding-top" size="6">
                  <ion-card>
                    <ion-card-content></ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col class="ion-padding-top" size="6">
                  <ion-card>
                    <ion-card-content></ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col class="ion-padding-top" size="6">
                  <ion-card>
                    <ion-card-content></ion-card-content>
                  </ion-card>
                </ion-col>
                <ion-col class="ion-padding-top" size="6">
                  <ion-card>
                    <ion-card-content></ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6">
            <ion-row>
              <ion-col class="ion-padding-top" size="12">
                <ion-card>
                  <ion-card-content>
                    <ion-item lines="none">
                      <ion-label>Vegetariano</ion-label>
                      <ion-toggle></ion-toggle>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-label>Gluten-free</ion-label>
                      <ion-toggle></ion-toggle>
                    </ion-item>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col class="ion-padding-top" size="12">
                <ion-card>
                  <ion-card-content>
                    <ion-item lines="none">
                      <ion-label>Senza forno</ion-label>
                      <ion-toggle></ion-toggle>
                    </ion-item>
                    <ion-item lines="none">
                      <ion-label>Senza mixer</ion-label>
                      <ion-toggle></ion-toggle>
                    </ion-item>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> -->


    <!-- 
    <choose-ingredients></choose-ingredients>

    <div class="ion-text-center" id="buttons">
      <ion-button color="primary" size="large" [routerLink]="'/receipts'">
        {{'Home.all_receipts' | translate}}
      </ion-button>
      <ion-button color="primary" size="large">
        {{'Home.market' | translate}}
      </ion-button>
    </div> -->
    <!-- 
    <div>
      <h2>{{'RandomReceipts.title' | translate}}</h2>
      <div class="partial-border ion-margin-top ion-margin-bottom"></div>
    </div> -->

    <div>
      <h3 class="ion-text-center ssprofont resulttexth3">{{'RandomReceipts.results' | translate}}</h3>
      <div class="partial-border ion-margin-top ion-margin-bottom"></div>
    </div>

    <random-receipts [receipts]="receipts"></random-receipts>

  </div>
</ion-content>